<div class="container">
    <h1>
        All Projects
    </h1>
    <div class="row">
        <div class="col-4 col-sm">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                </ul>
            </nav>
        </div>
        <div class="col-4 col-sm">
            <div class="form-inline">
                <input type="text" class="form-control" id="goToPageNum" placeholder="Search For Project Heare...">
                <button class="btn btn-primary" id="goToPage">Go</button>
            </div>
        </div>
        <div class="col-6 col-sm">
            <div class="form-inline">
                <div class="form-inline">
                    <input type="text" class="form-control" id="myInput" placeholder="Search For Project Heare...">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="appendAbdge">
    </div>
    <table class="table table-hover table-dark mt-2" id="allProjectTable">
        <thead>
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">Studio Name</th>
                <th scope="col">Party</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">DVD's</th>
                <th scope="col">Received On</th>
                <th scope="col">Delivred On</th>
                <th scope="col">Total Payment</th>
                <th scope="col">Payment Received</th>
                <th scope="col">Payment Due</th>
                <th colspan="1">Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>