<div class="container">

    <h1>
        Dashboard
    </h1>

    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body" id="complitedProject">
                    <h5 class="card-text">
                        <strong>
                            Project Completed
                        </strong>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body" id="receivedProject">
                    <h5 class="card-text">
                        <strong>
                            Project Pending
                        </strong>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body" id="delivredProject">
                    <h5 class="card-text">
                        <strong>
                            Project Delivred
                        </strong>
                    </h5>
                </div>
            </div>
        </div>
        <canvas id="myChart" height="150"></canvas>
    </div>
</div>